<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mypagestyle.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/fb91c5f2d6.js" crossorigin="anonymous"></script>
    <script src="js/main.js" defer></script>
</head>
<body>
<nav class="navbar">

    <div class="navbar__logo">
        <i class="fa-solid fa-coins"></i>
        <a href="/mainpage">Coin</a>
    </div>

    <ul class="navbar__menu">
        <li><a href="/mainpage">MAINPAGE</a></li>
        <li><a href="">Home</a></li>
        <li><a href="/usermanage">User Management</a></li>
        <li><a href="/my">MYPAGE</a></li>
    </ul>

    <ul class="navbar__icons">
        <a href="http://localhost:8080/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </ul>

    <a href="#" class="navbar__toogleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>