.table8_1 table {
    width: 30%;
    margin:15px 0;
    border-collapse:separate;
}

.table8_1,.table8_1 th,.table8_1 td
{
    background-color: #CFCFCF;
    width: 100%;
    font-size:1em;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
    color: #263343;
}


.first {
    width:30%;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #263343;
    border:none;
    color:white;
    border-radius: 5px;
    width:50px;
    font-size: 14pt;
    text-align: center;
}