{{>layouts/afterHeader}}
<form method="post" action="/kakaoPay">
    <div style="display:table-cell; vertical-align: middle;">
        <h2>코인 충전</h2>
        <div class="input-box">
            <input type="number" name="coin" placeholder="코인">
            <label for="Coin">코인</label>
        </div>
        <button type="submit">kakaopay 결제</button>
    </div>
</form>
</body>
</html>