{{>layouts/afterheader}}

    <div class="parent" style="display:flex; justify-content: center; margin-left: 20%; margin-top: 5%;">
        <div class="first">
            <table class=table8_1>
                <tr><th>{{num}}</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="second">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="third">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
    </div>
    <div class="parent" style="display:flex; justify-content: center; margin-left: 20%; margin-top: 5%;">
        <div class="first">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="second">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="third">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
    </div>
    <div class="parent" style="display:flex; justify-content: center; margin-left: 20%; margin-top: 5%;">
        <div class="first">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="second">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
        <div class="third">
            <table class=table8_1>
                <tr><th>SAMPLE</th></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
                <tr><td>SAMPLE</td></tr>
            </table>
        </div>
    </div>

</body>
</html>