{{>layouts/beforeheader}}
<div id="map" style="width:700px;height:400px; position: relative; text-align: center; margin: 0 auto;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b8eef27b63be5a236c1d5e7019c6ff1"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
</body>
</html>