{{>layouts/afterHeader}}
<div class="body1">
<div style="display:table-cell; vertical-align: middle;">
    <h2>회원정보</h2>
    <div class="input-box">
        <h4>{{userid}}</h4>
        <label for="userid">아이디</label>
    </div>
    <div class="input-box">
        <h4>{{username}}</h4>
        <label for="username">닉네임</label>
    </div>
    <div class="input-box">
        <h4>{{usercoin}}</h4>
        <label for="coin">코인</label>
    </div>
    <a href="/mypage"><button type="button">개인정보 수정 및 코인 충전</button></a>
</div>
</div>
</body>
</html>